<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <h1>List user table</h1>

    <table id="customers">
        <tr>
            <th>ID</th>
            <th>FristName</th>
            <th>LastName</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i < dataUser.length; i++) { %>
            <tr>
                <td>
                    <%= dataUser[i].id %>
                </td>
                <td>
                    <%= dataUser[i].firstName %>
                </td>
                <td>
                    <%= dataUser[i].lastName %>
                </td>
                <td>
                    <button><a href="/detail/user/<%= dataUser[i].id %>">Detail</a> </button>
                    <button>Delete</button>
                    <button>Edit</button>


                </td>

            </tr>
            <% } %>

    </table>

    <div id="form">
        <h2><strong>Create New user</strong> </h2>

        <form action="/create-new-user" method="POST">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Email:</label><br>
            <input type="text" id="lname" name="email"><br><br>
            <label for="lname">Address:</label><br>
            <input type="text" id="lname" name="address"><br><br>
            <input type="submit" style="cursor: pointer" value="Submit">
        </form>
    </div>


</body>

</html>